@import "styles/theme.scss";

$colorBoxSize: 1.75rem;

.colorBox {
  line-height: $colorBoxSize;
  height: $colorBoxSize;
  width: $colorBoxSize;
  border: $borderStyle;
  font-family: "Ubuntu Mono";
  display: inline-block;
  text-align: center;
}
