@import "styles/theme.scss";

%typetest-header {
  justify-content: space-between;
  display: flex;
  padding-bottom: 0.1rem;
}

.typetest-header-primary {
  @extend %typetest-header;
  border-bottom: $borderStyle;
  align-items: flex-end;
}

.typetest-header-secondary {
  @extend %typetest-header;
}
