@import "styles/theme.scss";

%typetestHeader {
  justify-content: space-between;
  display: flex;
  padding-bottom: 0.1rem;
}

.typetestHeaderPrimary {
  @extend %typetestHeader;
  border-bottom: $borderStyle;
  align-items: flex-end;
}

.typetestHeaderSecondary {
  @extend %typetestHeader;
}
