@import "layout/theme.scss";

.typetest-header-primary {
  border-bottom: $borderStyle;
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
}

.typetest-header-secondary {
  border-bottom: $borderStyle;
  justify-content: space-between;
  display: flex;
}
