@import "scss/abstracts/_variables.scss";

$test-font-size: 1.5rem;

.test-textbox {
  display: flex;
  justify-content: space-around;
  border-bottom: $borderStyle;
  padding-top: $test-font-size;
  padding-bottom: $test-font-size;
}

.invisible-input {
  position: absolute;
  cursor: default;
  opacity: 0;
  z-index: -1;
  width: 0;
  height: 0;
}

%typing-text {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: $test-font-size;
  line-height: $test-font-size * 1.5;
}

.text-inactive {
  @extend %typing-text;
  color: $grey;
}

.text-active {
  @extend %typing-text;
  color: $black;
}

.text-highlight {
  @extend %typing-text;
  background-color: $black;
  color: $white;
}

.text-correct {
  @extend %typing-text;
  color: $green;
}

.text-wrong {
  @extend %typing-text;
  color: $red;
}
