@import "styles/theme.scss";

.navLink {
  position: sticky;
  flex-direction: column;
  font-weight: 500;
  margin: 0 1rem;
  border-bottom: $borderStyle;
  color: $grey;
}

.img {
  margin-right: 1rem;
  font-size: 1.3rem;
  vertical-align: middle;
}
