@import "layout/theme.scss";

$col-amount: 11;

.flex {
  display: flex;
  line-height: 2.25rem;
}

.lesson-col-primary {
  width: 100% / $col-amount;
  color: $grey;
}

.lesson-col-secondary {
  width: 100% - 100% / $col-amount;
}
