@import "styles/theme.scss";

$col-amount: 11;

.flex {
  display: flex;
  line-height: 2.25rem;
}

.lessonColPrimary {
  width: 100% / $col-amount;
  color: $grey;
}

.lessonColSecondary {
  width: 100% - 100% / $col-amount;
}
