@import "layout/theme.scss";

nav {
  :first-child {
    text-align: center;
  }
  position: sticky;
  flex-direction: column;
  font-weight: 500;
  margin: 0 1rem;
}

.nav-link {
  border-bottom: $borderStyle;
  color: $grey;
}

i {
  margin-right: 1rem;
  font-size: 1.3rem;
  vertical-align: middle;
}
